@import 'normalize';
@import 'fonts';

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Regular", Tahoma, sans-serif;   
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;  
  overflow: hidden;
}

@import 'header';